<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
       <rules>
        <rule name="Redirect everything to https://addin.smarterdrafter.com.au" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="smarterdrafter-addin-production.azurewebsites.net" negate="false" />
          </conditions>
          <action type="Redirect" url="https://addin.smarterdrafter.com.au/{R:0}" />
        </rule>
        <rule name="Redirect everything to https://addin.rulestar.com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="rulestar-addin-production.azurewebsites.net" negate="false" />
          </conditions>
          <action type="Redirect" url="https://addin.rulestar.com/{R:0}" />
        </rule>
        <rule name="Redirect everything to https://sandbox-addin.rulestar.com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="rulestar-addin-sandbox.azurewebsites.net" negate="false" />
          </conditions>
          <action type="Redirect" url="https://sandbox-addin.rulestar.com/{R:0}" />
        </rule>
        <rule name="Redirect everything to https://addin-staging.rulestar.com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="rulestar-addin-staging.azurewebsites.net" negate="false" />
          </conditions>
          <action type="Redirect" url="https://addin-staging.rulestar.com/{R:0}" />
        </rule>
        <rule name="AngularRewriteRule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" />
      </profiles>
    </caching>
    <security>
      <!-- Removes Server header in IIS10 or later and also in Azure Web Apps -->
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpProtocol>
      <redirectHeaders>
        <clear />
      </redirectHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
